table {
  border-collapse: collapse;
  margin: 0.3rem;
}

td {
  margin: 0;
  padding: 0;
  height: 20px;
  width: 20px;
  border: 0.5px;
  border-color: rgb(114, 72, 214);
  border-style: solid;
}

.visited {
  animation: visit ease-in 2s forwards;
}

.path {
  transition: all 1s;
  background-color: rgb(66, 189, 121);
}

.wall {
  transition: all 1s;
  background-color: rgb(48, 10, 78);
}

.blank {
  transition: all 1s;
  background-color: white;
}

@keyframes visit {
  0% {
    background-color: rgb(202, 36, 188);
  }
  50% {
    background-color: rgb(144, 43, 175);
  }
  100% {
    background-color: rgb(139, 47, 201);
  }
}
