.options {
  height: 2rem;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: rgb(179, 127, 228);
}

h4 {
  background-color: rgb(181, 91, 233);
  color: white;
  margin: 0;
  padding: 0.5rem;
}

button {
  margin: 0 0.5rem;
  border: 1px solid;
  border-radius: 0.2rem;
  transition: all 0.5s;
}

.algo {
  background-color: white;
  color: rgb(132, 2, 253);
  border-color: rgb(132, 2, 253);
}

.algo:hover {
  background-color: rgb(132, 2, 253);
  color: white;
}

.reset {
  background-color: white;
  color: rgb(253, 2, 2);
  border-color:rgb(253, 2, 2);
}

.reset:hover {
  background-color: rgb(253, 2, 2);
  color: white;
}

select {
  background-color: white;
  border: none;
  color: rgb(132, 2, 253);
  border-radius: 0.2rem;
  transition: all 0.5s;
}

select:hover {
  background-color: rgb(132, 2, 253);
  color: white;
}

.maze {
  background-color: white;
  color: rgb(72, 1, 94);
  border-color: rgb(72, 1, 94);
}

.maze:hover {
  background-color: rgb(72, 1, 94);
  color: white;
}